@keyframes flash {

    0%,
    100% {
        background-color: #f9f9f9;
    }

    50% {
        background-color: #87ceeb;
    }

    /* Sky blue color */
}

.exchange-rates {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 0;
    background-color: #f9f9f9;
    width: 100%;
    gap: 10px;
}

.flash {
    animation: flash 1s ease-in-out;
}

.exchange-rates h4 {
    margin: 0;
    font-size: 1.2em;
    display: flex;
    align-items: center;
}

.exchange-rates p {
    margin: 0;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    line-height: normal;
}

.flag {
    width: 24px;
    height: 16px;
    margin: 0 5px;
    vertical-align: middle;
}

.currency-symbol {
    margin-right: 5px;
}

.amount {
    font-weight: bold;
    margin-right: 5px;
}