@keyframes flash {

    0%,
    100% {
        background-color: #f9f9f9;
    }

    50% {
        background-color: #87ceeb;
    }

    /* Sky blue color */
}

.exchange-rates {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.flash {
    animation: flash 1s ease-in-out;
}

.exchange-rates h4 {
    margin: 0;
    font-size: 1.2em;
    display: flex;
    align-items: center;
}

.exchange-rates p {
    font-size: 1em;
    color: #333;
    margin: 0;
    text-align: center;
}

.flag {
    width: 24px;
    height: 16px;
    margin: 0 5px;
    vertical-align: middle;
}

.currency-symbol {
    margin-right: 5px;
}

.amount {
    font-weight: bold;
    margin-right: 5px;
}

/* Media query for mobile devices */
@media (max-width: 600px) {
    .exchange-rates {
        padding: 5px;
    }

    .exchange-rates p {
        font-size: 0.9em;
    }
}